$background-black:#000000;
$color-font:#828282;
$color-btn: #E82C2A;

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color:$background-black;
}