#initial-loading {
  
  .loading {
    font-size: 200%;
    margin: 0 auto;
    color: $color-btn;
   }
}


#initial-loading {
  .loader {
    border: #E82C2A solid 2px ;
    border-radius: 50%;
    border-right: gray  solid 2px;
    width: 60px;
    height: 60px;
    margin: 0 auto;

    animation: circle 1s linear infinite;
  }
}

 
@keyframes circle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

  

#catalogo {
  display:none;
}

#container-catalogo {
  display:flex;
  width: 100%;
  max-width:350px;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  color:$color-font;
  justify-content: center;

  #menu { 
    display: flex;
    margin: auto;
    align-items: center;
    gap:32px;
  }

  ul {
    display:flex;
    gap:32px;
  }

  li {
    list-style:none;
  }

  #banner {
    height: 60%;

    img {
      width: 100%;
      height: auto;
    }
  }

  #list-info {
    display:flex;
    margin: 16px auto 0;
    align-items: center;
    justify-content: space-between;
    gap:32px;
  }
  
  button {
    display: flex;
    background-color: $color-btn;
    width: 118px;
    height: 48px;
    border-radius: 8px;
    color: #fff;
    border-color: #E82C2A;
    cursor: pointer;
    padding: 14px 20px 14px 20px;
    justify-content:space-around;

    spam {
      font-weight: 600;
    }

  }

  .films-series {
    width: 100%;
    height: auto;

    .thumb-films-series {
      display:flex;
      width: 100%;
      margin-top: 16px;

      img {
       width: 30%;
       margin: 0 auto;
      }
    }

    p {
      margin-top:30px;
    }

  }

}