@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&family=Oswald:wght@300;400;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #000000;
}

@keyframes onLoading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#container-login {
  display: flex;
  width: 100%;
  max-width: 350px;
  height: 100vh;
  margin: 32px auto;
  flex-direction: column;
  animation: 3s ease-out 0s onLoading forwards;
}
#container-login img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 32px auto 0;
  padding: 0 16px;
}
#container-login form {
  display: flex;
  flex-direction: column;
  margin-top: 60%;
}
#container-login form label input {
  margin-top: 16px;
  width: 100%;
  height: 64px;
  padding: 22px;
  background: #333333;
  border-radius: 8px;
  color: #828282;
  border-color: #333333;
}
#container-login form p {
  color: #828282;
  text-align: center;
}
#container-login form button {
  font-weight: 600;
  margin-top: 16px;
  width: 100%;
  height: 64px;
  padding: 22px;
  border-radius: 8px;
  background-color: #000000;
  text-transform: uppercase;
  color: #828282;
  border-color: #333333;
  cursor: pointer;
}
#container-login form a {
  text-align: center;
  text-decoration: none;
  color: #828282;
  margin-top: 38px;
}

#initial-loading .loading {
  font-size: 200%;
  margin: 10px auto;
  color: #E82C2A;
  text-align: center;
}

#initial-loading .loader {
  border: #E82C2A solid 2px;
  border-radius: 50%;
  border-right: black solid 2px;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  animation: circle 1s ease-in-out infinite;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#catalogo {
  display: none;
}

#container-catalogo {
  display: flex;
  width: 100%;
  max-width: 350px;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  color: #828282;
  justify-content: center;
}
#container-catalogo #menu {
  display: flex;
  margin: auto;
  align-items: center;
  gap: 32px;
}
#container-catalogo #menu ul {
  display: flex;
  gap: 32px;
}
#container-catalogo #menu ul li {
  list-style: none;
}
#container-catalogo #menu ul li a {
  text-decoration: none;
  color: #828282;
}
#container-catalogo #menu ul li a:hover {
  color: #E82C2A;
}
#container-catalogo #menu img {
  cursor: pointer;
}
#container-catalogo #banner {
  height: auto;
}
#container-catalogo #banner a {
  display: block;
}
#container-catalogo #banner img {
  width: 100%;
  height: auto;
  transition: 0.3s ease-in-out;
}
#container-catalogo #banner img:hover {
  transform: scale(1.05);
  opacity: 80%;
}
#container-catalogo #list-info {
  display: flex;
  margin: 16px auto 0;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
#container-catalogo button {
  display: flex;
  background-color: #E82C2A;
  width: 118px;
  height: 48px;
  border-radius: 8px;
  color: #fff;
  border-color: #E82C2A;
  cursor: pointer;
  padding: 14px 20px 14px 20px;
  justify-content: space-around;
}
#container-catalogo button spam {
  font-weight: 600;
}
#container-catalogo button:hover {
  opacity: 80%;
}
#container-catalogo .films-series {
  width: 100%;
  height: auto;
}
#container-catalogo .films-series .thumb-films-series {
  display: flex;
  width: 100%;
  margin-top: 16px;
}
#container-catalogo .films-series .thumb-films-series a {
  width: 30%;
  margin: 0 auto;
  transition: 0.3s ease-in-out;
}
#container-catalogo .films-series .thumb-films-series a:hover {
  transform: scale(1.1);
  opacity: 80%;
}
#container-catalogo .films-series p {
  margin-top: 30px;
}

#container-detalhes {
  width: 100%;
  max-width: 350px;
  min-height: 100vh;
  margin: 0 auto;
  color: #828282;
}
#container-detalhes #button-return a img {
  margin-left: 25px;
}
#container-detalhes #film-detail {
  display: flex;
  gap: 24px;
  justify-content: center;
}
#container-detalhes #film-detail a img {
  width: 176px;
  height: 260px;
  margin-top: 22px;
  transition: 0.3s ease-in-out;
}
#container-detalhes #film-detail img:hover {
  transform: scale(1.1);
  opacity: 80%;
}
#container-detalhes #film-detail #mini-detail {
  margin-top: 45px;
}
#container-detalhes #film-detail #mini-detail h2 {
  font-weight: 400;
  color: #E0E0E0;
}
#container-detalhes #film-detail #mini-detail p {
  margin-top: 24px;
  color: #E0E0E0;
}
#container-detalhes #film-detail #mini-detail p span {
  display: block;
  font-weight: 700;
  color: #27AE60;
}
#container-detalhes #film-detail #mini-detail p span.mini-info {
  font-weight: 400;
  color: #E0E0E0;
  margin-top: 8px;
}

#btn-play button {
  display: flex;
  margin-top: 32px;
  background-color: #E82C2A;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  color: #fff;
  border-color: #E82C2A;
  cursor: pointer;
  padding: 14px 135px 14px 135px;
  justify-content: space-around;
}
#btn-play button spam {
  font-weight: 600;
  font-size: 16px;
}

button:hover {
  opacity: 80%;
}

.sinopse {
  display: flex;
  text-align: left;
  letter-spacing: -0.7px;
  font-size: 14px;
  margin-top: 16px;
  color: #E0E0E0;
}

#filmes-relacionados p {
  margin-top: 37px;
  font-weight: 600;
}
#filmes-relacionados #lista-filmes-relacionados {
  display: flex;
  width: 100%;
  margin-top: 16px;
  justify-content: space-between;
}
#filmes-relacionados #lista-filmes-relacionados a {
  width: 31%;
  transition: 0.3s ease-in-out;
}
#filmes-relacionados #lista-filmes-relacionados a img {
  width: 100%;
  height: auto;
  transition: 0.3s ease-in-out;
}
#filmes-relacionados #lista-filmes-relacionados a:hover {
  transform: scale(1.1);
  opacity: 80%;
}

#player {
  display: flex;
  width: 100%;
  max-width: 400px;
  height: 100vh;
  margin: auto;
}
#player img {
  width: 400px;
}/*# sourceMappingURL=main.css.map */